Importing library required for task

In [65]:
import pandas as pd
import re
from datetime import datetime

In [41]:
import warnings
warnings.filterwarnings("ignore")

reading data into whatsapp df

In [42]:
whatsapp_df = pd.read_fwf('WhatsApp Chat with M tech Nirma.txt', header = None)
whatsapp_df

,0,1,2,3
0,"08/09/20,",11:12 am - Messages and calls are end-to-end e...,learn,more.
1,"08/09/20,","11:12 am - You created group ""Nirma Mtech Data...",NaN,NaN
2,"08/09/20,",11:15 am - You added Jemin Raval,NaN,NaN
3,"08/09/20,",11:55 am - Abhisek: Add others members too if ...,NaN,NaN
4,"08/09/20,",11:55 am - Aditya: Mari pase koi no contact nu...,NaN,NaN
...,...,...,...,...
28415,Please up,ate your address details in this link as soon ...,NaN,NaN
28416,NaN,NaN,NaN,NaN
28417,https://d,cs.google.com/spreadsheets/d/10SX1eo-mPWMEXk-9...,NaN,NaN
28418,"11/06/21,","1:47 pm - Aditya: Add ur contact numbers too ,...",NaN,NaN
28419,"11/06/21,",1:48 pm - Vishakha: Ok,NaN,NaN

In [43]:
whatsapp_df = whatsapp_df[[0,1]]
whatsapp_df.columns=["Date","Message"]
whatsapp_df

            Date                                            Message
0      08/09/20,  11:12 am - Messages and calls are end-to-end e...
1      08/09/20,  11:12 am - You created group "Nirma Mtech Data...
2      08/09/20,                   11:15 am - You added Jemin Raval
3      08/09/20,  11:55 am - Abhisek: Add others members too if ...
4      08/09/20,  11:55 am - Aditya: Mari pase koi no contact nu...
...          ...                                                ...
28415  Please up  ate your address details in this link as soon ...
28416        NaN                                                NaN
28417  https://d  cs.google.com/spreadsheets/d/10SX1eo-mPWMEXk-9...
28418  11/06/21,  1:47 pm - Aditya: Add ur contact numbers too ,...
28419  11/06/21,                             1:48 pm - Vishakha: Ok

[28420 rows x 2 columns]

In [44]:
whatsapp_df.dropna(how="any",inplace=True)
whatsapp_df.reset_index(drop=True,inplace=True)

In [45]:
# https://stackoverflow.com/questions/4709652/python-regex-to-match-dates
# https://www.tutorialspoint.com/Why-do-we-use-re-compile-method-in-Python-regular-expression
dup_message = [] ##index whose message we have appended to previous message. 
for i in range(len(whatsapp_df)):
    date = re.compile(r'\d+/\d+/\d+')
    if date.findall(whatsapp_df.iloc[i,0]):
        continue
    else:
        temp = whatsapp_df.loc[i,"Date"] + whatsapp_df.loc[i,"Message"]
        whatsapp_df.loc[i-1,"Message"] = whatsapp_df.loc[i-1,"Message"] + str(" ")+ temp
        dup_message.append(i)

In [46]:
# https://stackoverflow.com/questions/14661701/how-to-drop-a-list-of-rows-from-pandas-dataframe
whatsapp_df_no_dup_message = whatsapp_df.drop(whatsapp_df.index[dup_message])
whatsapp_df_no_dup_message.reset_index(drop=True,inplace=True)

In [47]:
whatsapp_df_no_dup_message

            Date                                            Message
0      08/09/20,  11:12 am - Messages and calls are end-to-end e...
1      08/09/20,  11:12 am - You created group "Nirma Mtech Data...
2      08/09/20,                   11:15 am - You added Jemin Raval
3      08/09/20,  11:55 am - Abhisek: Add others members too if ...
4      08/09/20,  11:55 am - Aditya: Mari pase koi no contact nu...
...          ...                                                ...
26966  10/06/21,  12:54 pm - Vatsal Shah: Krushit, Vidit and abh...
26967  10/06/21,                      12:54 pm - Krushit Sheth: yes
26968  11/06/21,  1:34 pm - Abhi Thakkar: For *TECHNICOLOR* - Pl...
26969  11/06/21,  1:47 pm - Aditya: Add ur contact numbers too ,...
26970  11/06/21,                             1:48 pm - Vishakha: Ok

[26971 rows x 2 columns]

In [48]:
for i in range(len(whatsapp_df_no_dup_message["Message"])):
    message = str(whatsapp_df_no_dup_message["Message"].iloc[i]).split("-",2)
    whatsapp_df_no_dup_message.loc[i,"Time"] = message[0]
    whatsapp_df_no_dup_message.loc[i,"Message"] = message[1]

In [49]:
whatsapp_df_no_dup_message

            Date                                            Message       Time
0      08/09/20,                         Messages and calls are end  11:12 am
1      08/09/20,       You created group "Nirma Mtech Data science"  11:12 am
2      08/09/20,                              You added Jemin Raval  11:15 am
3      08/09/20,   Abhisek: Add others members too if you have a...  11:55 am
4      08/09/20,   Aditya: Mari pase koi no contact number nthi ...  11:55 am
...          ...                                                ...        ...
26966  10/06/21,   Vatsal Shah: Krushit, Vidit and abhishek are ...  12:54 pm
26967  10/06/21,                                 Krushit Sheth: yes  12:54 pm
26968  11/06/21,                   Abhi Thakkar: For *TECHNICOLOR*    1:34 pm
26969  11/06/21,   Aditya: Add ur contact numbers too , incase t...   1:47 pm
26970  11/06/21,                                       Vishakha: Ok   1:48 pm

[26971 rows x 3 columns]

Handling Time

In [50]:
for i in range(len(whatsapp_df_no_dup_message["Time"])):
    time  = []
    time.append(whatsapp_df_no_dup_message.loc[i,"Time"].split(":")[0])
    time.extend(whatsapp_df_no_dup_message.loc[i,"Time"].split(":")[1].split(" "))
    if time[2] == "pm" and int(time[0])!=12:
        time[0] = str(int(time[0])+12)
        whatsapp_df_no_dup_message.loc[i,"time"]=":".join(time[:2])
    else:
        whatsapp_df_no_dup_message.loc[i,"time"]=":".join(time[:2])
whatsapp_df_no_dup_message.drop("Time",axis=1,inplace=True)
whatsapp_df_no_dup_message

            Date                                            Message   time
0      08/09/20,                         Messages and calls are end  11:12
1      08/09/20,       You created group "Nirma Mtech Data science"  11:12
2      08/09/20,                              You added Jemin Raval  11:15
3      08/09/20,   Abhisek: Add others members too if you have a...  11:55
4      08/09/20,   Aditya: Mari pase koi no contact number nthi ...  11:55
...          ...                                                ...    ...
26966  10/06/21,   Vatsal Shah: Krushit, Vidit and abhishek are ...  12:54
26967  10/06/21,                                 Krushit Sheth: yes  12:54
26968  11/06/21,                   Abhi Thakkar: For *TECHNICOLOR*   13:34
26969  11/06/21,   Aditya: Add ur contact numbers too , incase t...  13:47
26970  11/06/21,                                       Vishakha: Ok  13:48

[26971 rows x 3 columns]

adding sender in sender columns

In [51]:
for i in range(len(whatsapp_df_no_dup_message)):
    message = whatsapp_df_no_dup_message.loc[i,"Message"]
    string = message.split(":")
    if len(string)>1:
        whatsapp_df_no_dup_message.loc[i,"Sender"] = string[0]
        whatsapp_df_no_dup_message.loc[i,"Message"] = " ".join(string[1:])
print(whatsapp_df_no_dup_message)

            Date                                            Message   time  \
0      08/09/20,                         Messages and calls are end  11:12
1      08/09/20,       You created group "Nirma Mtech Data science"  11:12
2      08/09/20,                              You added Jemin Raval  11:15
3      08/09/20,   Add others members too if you have anyone in ...  11:55
4      08/09/20,          Mari pase koi no contact number nthi bhai  11:55
...          ...                                                ...    ...
26966  10/06/21,   Krushit, Vidit and abhishek are pending for i...  12:54
26967  10/06/21,                                                yes  12:54
26968  11/06/21,                                 For *TECHNICOLOR*   13:34
26969  11/06/21,   Add ur contact numbers too , incase they are ...  13:47
26970  11/06/21,                                                 Ok  13:48

               Sender
0                 NaN
1                 NaN
2                 NaN
3             Abhisek
4              Aditya
...               ...
26966     Vatsal Shah
26967   Krushit Sheth
26968    Abhi Thakkar
26969          Aditya
26970        Vishakha

[26971 rows x 4 columns]

Removing all rows where sender is " "(messages send by whatsapp when someone leave or join group)

In [52]:
whatsapp_df_no_dup_message.dropna(how="any",inplace=True)
whatsapp_df_no_dup_message.reset_index(drop=True,inplace=True)

removing commas in date

In [53]:
whatsapp_df_no_dup_message.loc[:,"Date"] = whatsapp_df_no_dup_message.loc[:,"Date"].replace(',','', regex=True)
whatsapp_df_no_dup_message

,Date,Message,time,Sender
0,08/09/20,Add others members too if you have anyone in ...,11:55,Abhisek
1,08/09/20,Mari pase koi no contact number nthi bhai,11:55,Aditya
2,08/09/20,Okay,11:56,Abhisek
3,08/09/20,Let's see if anyone else has ut,11:56,Aditya
4,08/09/20,It*,11:56,Aditya
...,...,...,...,...
26920,10/06/21,"Krushit, Vidit and abhishek are pending for i...",12:54,Vatsal Shah
26921,10/06/21,yes,12:54,Krushit Sheth
26922,11/06/21,For *TECHNICOLOR*,13:34,Abhi Thakkar
26923,11/06/21,"Add ur contact numbers too , incase they are ...",13:47,Aditya
26924,11/06/21,Ok,13:48,Vishakha

Converting datetime string object into Datetime

In [54]:
#https://stackoverflow.com/questions/33098383/merge-multiple-column-values-into-one-column-in-python-pandas
whatsapp_df_no_dup_message = whatsapp_df_no_dup_message.assign(datetime = whatsapp_df_no_dup_message.Date.astype(str)+" "+whatsapp_df_no_dup_message.time.astype(str))
whatsapp_df_no_dup_message.drop(["Date","time"],axis=1,inplace=True)

In [55]:
def date_convert(date_str):
    return datetime.strptime(date_str,"%d/%m/%y %H:%M")
whatsapp_df_no_dup_message["datetime"] = whatsapp_df_no_dup_message.apply(lambda row: date_convert(row["datetime"]),axis = 1)
print(type(whatsapp_df_no_dup_message.loc[1,"datetime"]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

Removing outliers

In [56]:
whatsapp_df_no_dup_message["Sender"].value_counts()

 Aditya             3815
 Vimal              3688
 Krushit Sheth      3038
 Vishakha           2901
 Dhwani             2820
 Abhisek            2510
 Shubhangi          2161
 Jainil Patel       1561
 Jaynil Patel       1059
 Rutva               942
 Dhrumil             743
 Vidit               463
 Kalgi               451
 Abhi Thakkar        227
 Shailesh            194
 Riya Shah           176
 Vatsal Shah         116
 Parth Sinha          35
 +91 87580 44627      15
 +91 74350 45603       7
 +91 82383 34297       3
Name: Sender, dtype: int64

In [63]:
# writing cleaned dataset to csv
whatsapp_df_no_dup_message.to_csv("cleaned nirma chat.csv")